/*
 * Ingresa el CSS del proyecto en este archivo
 */
/*font-family: 'Raleway', sans-serif;*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  /* Establece la fuente de Google aquí */
  margin: 0 auto;
  font-size: 16px;
  line-height: 1.71429;
  background-color: #fff;
}

img {
  vertical-align: middle;
}

a {
  color: #373B47;
  text-decoration: none;
}

a:hover {
  color: #E95853;
}

.link {
  font-weight: 700;
  padding:21px;/* agregar espacio entre los textos*/
  display: inline-block;/* crea cajas de bloque y en linea de forma simultanea */ 
}

.logo {
  float: right;
}

header {
  position:fixed;
  background: white;
  width: 100%;
  top: 0;
}

.menu {
  padding: 14px 70px;
  overflow: auto;
}

#home{
  background-image: url(../assets/images/bg-home.jpg);
  background-position:center;
  background-repeat: no-repeat;
  background-size:cover;
  height: 554px;
  text-align: center;
  margin-top: 80px;
}

#home .container{
  color: white;
  padding: 70px;
}